<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-lg-2" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nos services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Nos Spécialités</a></li>
                        <li><a class="dropdown-item" href="#">Médécins</a></li>
                        <li><a class="dropdown-item" href="#">Vidéo consultation</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hôpitaux de proximité</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Posologie médicaments</a>
                </li>

            </ul>
            <a class="btn btn-primary btn-lgz" href="#" role="button">Prendre RDV</a>
        </div>
        <div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>