{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" style="width: 18rem;">
        <h3 class="ml-5">Mon profile</h3>
        <div class="col-lg-6 ml-5 p-3">
            <div class="card-img">
                <img src="{{ asset("assets/images/Doct. Alex.jpg") }}" class="card-img-top" alt="Doc. Alex HAROLD">
            </div>
            <div class="col-lg-6">
                <div class="card-body">

            </div>


        </div>
    </div>

{% endblock %}

{% block title %}

{% endblock %}

